@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

#navbar-section {
    width: 100%;
    padding: 0.5%;
}

.logo {
    color: #000;
    font-size: 30px;
    font-weight: 600
}

.navmenu li {
    position: relative;
}

.navmenu a,
.navmenu a:focus {
    color: var(--nav-color);
    padding: 18px 15px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
}

.navmenu a i,
.navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
}

.navmenu li:last-child a {
    padding-right: 0;
}

.navmenu li:hover>a,
.navmenu .active,
.navmenu .active:focus {
    color: #0059ff;
}

.navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.navmenu .dropdown ul li {
    min-width: 200px;
}
.navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: #000;
}

.navmenu .dropdown ul a i {
    font-size: 12px;
}
.navmenu .dropdown ul a:hover,
.navmenu .dropdown ul .active:hover,
.navmenu .dropdown ul li:hover>a {
    color: #0059ff;
}

.navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
}

.mobile-nav-toggle {
    color: #000;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s;
}
.navmenu {
    padding: 0;
    z-index: 9997;
}

